<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-citiguideplugin" version="0.0.1">
    <name>CitiGuidePlugin</name>

    <description>Cordova plugin for run CitiGuide navigator.</description>
    <license>MIT</license>

    <keywords>cordova,android,citiguide</keywords>
    <repo>https://github.com/hwdax/CitiGuidePlugin.git</repo>
    <issue>https://github.com/hwdax/citiguideplugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/citiguideplugin.js" name="citiguidePlugin">
        <clobbers target="window.plugins.citiguidePlugin" />
        <clobbers target="citiguidePlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CitiGuidePlugin">
                <param name="android-package" value="com.hwdax.cordova.plugin.CitiGuidePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/CitiGuidePlugin.java" target-dir="src/com/hwdax/cordova/plugin" />
    </platform>
</plugin>